<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 
    v-show:
    语法: v-show="表达式" 
    底层原理: 通过修改元素的display属性(none/block),来实现显示或隐藏元素
    功能: 根据表达式的真假,来显示或隐藏元素 true-显示 false-隐藏
    
    v-if: (条件渲染)
    语法: v-if="表达式"
    底层原理: 通过创建/删除元素,来实现条件渲染
    功能: 根据表达式的真假,来渲染元素 true-渲染 false-不渲染
    
    注意: v-show是基于css的,而v-if是基于dom的
  -->

  <div id="app">
    <div v-show="isShow">显示</div>
    <div v-if="isShow">渲染</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        isShow: true
      }
    })
  </script>
</body>

</html>