@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1786256916609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipinyinliao:before {
  content: "\3486";
}

.icon-fire:before {
  content: "\e729";
}

.icon-muying:before {
  content: "\e7b4";
}

.icon-meizhuangleimu:before {
  content: "\e6e6";
}

.icon-jiazhuangjiajuleimufill:before {
  content: "\e6e7";
}

.icon-xiezi:before {
  content: "\e625";
}

.icon-diannao_o:before {
  content: "\eb49";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-xiyiji:before {
  content: "\ec78";
}

.icon-gongyepin:before {
  content: "\e6b3";
}

.icon-biankanbianmainvzhuangzhiboicon-:before {
  content: "\e620";
}

.icon-xiexian:before {
  content: "\e6ae";
}

