/* 公共样式，例如网页的头部和底部等，这些样式在每个页面都需要使用 */
/* 版心 */
.w {
  width: 1240px;
  margin: 0 auto;
}

/* 单行文本溢出显示省略号 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 1.页面头部 */
/* 1.1快速导航栏 */
.short-nav {
  height: 52px;
  background-color: #333333;
}

.short-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
}

.short-nav ul .phone i {
  /* i默认是inline元素，transform对inline元素无效，必须转为inline-block */
  display: inline-block;
  transition: all .3s;
}

/* 当鼠标经过.phone时，使手机图标旋转 */
.short-nav ul .phone:hover i {
  transform: rotate(360deg);
}

.short-nav ul li a {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
}

.short-nav ul li a:hover {
  color: #5EB69C;
}

.short-nav ul li:first-child a {
  color: #5EB69C;
}

/* 小竖线 */
.short-nav .line {
  width: 1px;
  height: 12px;
  background-color: #999;
  margin: 0 15px;
}

.short-nav ul li a i {
  font-size: 16px;
}

/* 1.2 header部分 */
.header {
  /* 粘性定位 */
  position: sticky;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 132px;
  background-color: #fff;
}

/* 1.2.1 logo */
.header .logo {
  width: 200px;
  height: 88px;
}

.header .logo h1 {
  width: 100%;
  height: 100%;
}

.header .logo h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat;
  /* text-indent 首行缩进，值为负数时，文字向左移动 */
  text-indent: -9999px;
  /* overflow: hidden 裁剪超出部分 */
  overflow: hidden;
}

/* 1.2.2 nav */
.header .nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header .nav li {
  width: 32px;
  height: 47px;
  line-height: 47px;
  font-size: 16px;
}

.header .nav li a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .nav li a:hover {
  color: #5EB69C;
  border-bottom: 2px solid #5EB69C;
}

/* 1.2.3 搜索框 */
.header .search {
  position: relative;
}

.header .search i {
  position: absolute;
  top: 9px;
  left: 4px;
  font-size: 20px;
  color: #8d8787;
}

.header .search input {
  width: 170px;
  height: 40px;
  border-bottom: 2px solid #F4F4F4;
  padding-left: 28px;
  font-size: 16px;
}

.header .search input::placeholder {
  font-size: 16px;
  color: #CCCCCC;
}

/* 1.2.4 购物车 */
.header .car {
  position: relative;
}

.header .car span {
  position: absolute;
  top: -2px;
  left: 22px;
  padding: 1px 5px;
  border-radius: 8px;
  background-color: #f14848;
  color: #CCCCCC;
  font-size: 12px;
}

.header .car i {
  font-size: 35px;
  margin-right: 15px;
}

/* 2.页面底部 */
.footer {
  height: 581px;
  background-color: #F5F5F5;
}

/* 2.1 口号模块 */
.footer .slogan {
  height: 178px;
  border-bottom: 1px solid #e8e8e8;
}

.footer .slogan ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.footer .slogan ul li {
  display: flex;
  align-items: center;
}

.footer .slogan ul li h5 {
  width: 58px;
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
}

.footer .slogan ul li p {
  margin-left: 20px;
  font-size: 28px;
}

.footer .slogan ul li .two {
  background-position: 0 -58px;
}

.footer .slogan ul li .three {
  background-position: 0 -116px;
}

.footer .slogan ul li .four {
  background-position: 0 -174px;
}

/* 2.2 服务模块 */
.footer .service {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

/* 2.2.1 左侧 */
.footer .service-left {
  display: flex;
  gap: 84px;
}

.footer .service-left dt {
  font-size: 18px;
  margin-bottom: 30px;
}

.footer .service-left dd {
  margin-bottom: 10px;
}

.footer .service-left dd a {
  color: #969696;
}

.footer .service-left dd i {
  color: #5EB69C;
}

/* 2.2.2 右侧 */
.footer .service-right ul {
  display: flex;
  gap: 55px;
  text-align: center;
}

.footer .service-right ul li img {
  width: 120px;
  height: 120px;
}

.footer .service-right ul li p {
  margin-top: 10px;
  color: #969696;
}

/* 2.3 版权模块 */
.footer .copyright {
  margin-top: 100px;
  line-height: 30px;
  text-align: center;
  color: #A1A1A1;
}

.footer .copyright a {
  color: #A1A1A1;
}

.footer .copyright a:hover {
  color: #5EB69C;
}